/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
* {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

html {
    color: #000000;
    font-size: 1em;
    line-height: 1.4;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

::-moz-selection {
    background: #000000;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 3px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

.subtitle-text {
    display: none;
}

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper.clearfix {
    width: 75%;
    margin: auto;
}

/* ===================
    ALL: Custom Theme
   =================== */

.header-container {
    height: 81px;
}

.footer-container,
.main aside {
    font-family: 'bebas_neueregular', Fallback, sans-serif;
    font-size: 40px;
    font-size: 5.9vmin;
    text-align: center;
    border-top: 0px solid #8b4a4a;
}

.header-container,
.footer-container,
.main aside {
    background: #a9cce2;
}

.title {
    position: relative;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    top: 40px;
    text-align: center;
    width: 100%;
    margin: auto;
    font-family: 'bebas_neueregular', Fallback, sans-serif;
    font-size: 60px;
    font-size: 7.3vmin;
    font-weight: 500;
    font-kerning: normal;
    color: #000000;
    opacity: .87;
}

.title-project {
    text-align: center;
    width: 100%;
    margin: auto;
    font-family: 'bebas_neueregular', Fallback, sans-serif;
    font-size: 60px;
    font-size: 6.0vmin;
    font-weight: 500;
    font-kerning: normal;
    color: #000000;
    opacity: .87;
}

.subtitle.left {
    position: absolute;
    float: left;
    top: 15px;
    left: 20px;
    font-size: 30px;
    color: #000000;
    opacity: .54;
}

.subtitle.right {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 30px;
    color: #000000;
    opacity: .54;
}

.subtitle-text {
    display: none;
}

.subtitle > a {
    float: right;
    font-family: 'bebas_neueregular', Fallback, sans-serif;
    font-size: 30px;
    color: #000000;
    opacity: .54;
    text-decoration: none;
}

.glyphicon {
    vertical-align: middle;
    top: -1px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: .8em;
    color: black;
    opacity: .54;
}

#mainpic {
    height: 800px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-image: url('/img/DSC_0724.jpg');
    background-repeat: no-repeat;
}

.projects{
    display: block;
    height: 950px;
}

.project-wrapper{
    display: block;
    text-align: center;
}

.project-link{
    display: inline-block;
    margin: auto;
    height: 250px;
    width: 250px;
}

.project-img{
    display: block;
    height: 100%;
}

.main.wrapper.clearfix{
    min-width: 400px;
    width: 100%;
    height: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    top: -10px;
    margin-bottom: 4%;
}

.resume {
    width: calc(100% + 36px);
    position: relative;
    top: -50px;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 10px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background: #e44d26;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 10px 0;
}

.main article h1 {
    font-size: 1em;
    font-size: 1em;
}

.main aside {
    color: white;
    padding: 100px 5% 100px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 10px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */















/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */
    
    .projects{
        display: block;
        height: 850px;
    }
    
    .main.wrapper.clearfix{
        min-width: 400px;
        width: 100%;
    }
    
    nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */


/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 38%;
    }

/* ============
    WIDE: Main
   ============ */
    
    .projects{
        display: block;
        height: 650px;
    }
    
    .main.wrapper.clearfix{
        min-width: 400px;
        width: 70%;
    }
    
    .main article {
        float: left;
        width: 70%;
    }

    .main aside {
        float: right;
        width: 30%;
    }
}


@media only screen and (min-width: 900px) {
    
    .projects{
        display: block;
        height: 650px;
    }
    
}

@media only screen and (min-width: 1140px) {
    
    .projects{
        display: block;
        height: 350px;
    }
    
    .subtitle-text {
        display: none;
    }
    
}

@media only screen and (min-width: 1500px) {

/* ===============
    Maximal Width
   =============== */
    
    .projects{
        display: block;
        height: 350px;
    }

    .subtitle-text {
        display: inline;
    }

    .main.wrapper.clearfix{
        min-width: 400px;
        width: 780px;
    }
    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}